//Colors
$standard: #050505;
$inverse: #FCFCFC;

//Dark transparent
$transparent: rgba(0, 0, 0, 0);
$transparent-25: rgba(0, 0, 0, 0.25);
$transparent-50: rgba(0, 0, 0, 0.5);
$transparent-75: rgba(0, 0, 0, 0.75);

//light transparent
$transparent-light: rgba(255, 255, 255, 0);
$transparent-light-25: rgba(255, 255, 255, 0.25);
$transparent-light-50: rgba(255, 255, 255, 0.5);
$transparent-light-75: rgba(255, 255, 255, 0.75);

$bgColor: $inverse;
$links: #4a9cee;
